repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        types_or: [c++, c]
        args: ['-style=file']

  - repo: local
    hooks:
      - id: cmake-lint
        name: cmake-lint
        entry: cmake-lint
        language: system
        files: (CMakeLists\.txt|\.cmake)$
        require_serial: true

      # - id: check-no-tabs
      #   name: Check no tabs
      #   entry: bash -c 'grep -n "	" "$@" && exit 1 || exit 0'
      #   language: system
      #   types: [text]
      #   exclude: ^(Makefile|.*\.make|.*\.mk)$
